/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px){
    .container{
        margin-inline: 1rem;
    }

    .home{
        &__title{
            font-size: 1.5rem;
        }
        &__tree-1{
            left: -4rem;
        }
        &__tree-2{
            right: -4rem;
        }
    }

    .items__container{
        grid-template-columns: 180px;
    }

    .party__img{
        width: 200px;
    }

    .footer__content{
        gap: 2.5rem;
    }
}

/* For medium devices */
@media screen and (min-width: 576px){
    .home__container,
    .about__container,
    .party__container{
        grid-template-columns: .6fr;
        justify-content: center;
    }

    .home__tree-1,
    .home__tree-2{
        width: 200px;
    }

    .items__container{
        grid-template-columns: repeat(2, 200px);
    }

    .footer__content{
        grid-template-columns: repeat(3, max-content);
    }
}

@media screen and (min-width: 767px){
    .section{
        padding-block: 7rem 1.5rem;

        &__title{
            margin-bottom: 4rem;

        }
    }
      
    .nav{
        height: calc(var(--header-height) + 1.5rem);

        &__toggle,
        &__close,
        &__img{
            display: none;
        }
        &__list{
            flex-direction: row;
            column-gap: 4rem;
        }
    }

    .category__container{
        grid-template-columns: repeat(2, 228px);
        column-gap: 4rem;
    }

    .footer__content{
        grid-template-columns: repeat(4, max-content);
    }
}

/* For large devices */
@media screen and (min-width: 1024px){
    .shape__small,
    .shape__big{
        filter: blur(132px);
        opacity: .5;
    }
    .shape__small{
        width: 350px;
        height: 350px;
    }
    .shape__big{
        width: 450px;
        height: 450px;
    }

    .home{
        &__title-img-1,
        &__title-img-2{
            width: 60px;
        }
        &__title-img-2{
            bottom: 5.75rem;
        }
        &__description{
            padding: 0 7.5rem;
        }
        &__tree-1,
        &__tree-2{
            width: 300px;
            top: 14rem;
        }
        &__img{
            width: 500px;
        }
    }

    .category{
        &__container{
            grid-template-columns: repeat(3, 254px);
        }
        &__card{
            padding: 6rem 2.5rem 2rem;
        }
        &__img{
            width: 150px;
        }
        &__star{
            right: 1rem;
        }
        & .shape__small{
            top: 10rem;
            left: -12rem;
        }
    }

    .about{
        &__img{
            order: -1;
            width: 500px;
        }
        &__container{
            padding-top: 2rem;
            grid-template-columns: max-content .9fr;
            column-gap: 7rem;
            align-items: center;
        }
        & .shape__big{
            bottom: -12rem;
        }
    }

    .about__data,
    .party__data{
        text-align: initial;
    }

    .about__container .section__title,
    .party__container .section__title{
        text-align: initial;
        margin-bottom: 1.5rem;
    }

    .about__description,
    .party__description{
        margin-bottom: 2.5rem;
    }

    .items{
        &__container{
            grid-template-columns: repeat(3, 200px);
            gap: 6rem 3.5rem;
        }
        &__card{
            padding: 6rem 1rem 1.5rem;
        }
        &__img{
            width: 130px;
        }
        &__name{
            font-size: var(--h3-font-size);
        }
        &__button i{
            font-size: 1.5rem;
        }
        & .shape__big{
            bottom: -12rem;
        }
    }

    .party{
        &__container{
            padding-top: 5rem;
            grid-template-columns: .7fr max-content;
            column-gap: 8rem;
            align-items: center;
        }
        &__img{
            width: 400px;
        }
        &__star-1,
        &__star-2{
            width: 100px;
        }
        &__star-1{
            top: -5rem;
            left: -5rem;
        }
        &__star-2{
            right: -3rem;
            bottom: 3rem;
        }
    }

    .footer{
        &__container{
            grid-template-columns: repeat(2, max-content);
            justify-content: space-between;
        }
        &__logo{
            font-size: var(--h3-font-size);
            margin-bottom: 1.5rem;
        }
        &__content{
            column-gap: 5rem;
        }
        &__link{
            font-size: var(--normal-font-size);
        }
        &__social{
            column-gap: 1.5rem;

            &-link{
                font-size: 1.5rem;
            }
        }
        &__copy{
            margin: 10rem 0 4rem;
        }
        &__tree-1,
        &__tree-2{
            width: 250px;
        }
        &__tree-1{
            top: initial;
            bottom: 1.5rem;
            right: -2rem;
        }
        &__tree-2{
            bottom: -1.5rem;
        }
        & .shape__big{
            bottom: -16rem;
        }
    }

    .scrollup{
        right: 3rem;
    }
}

@media screen and (min-width: 1072px){
    .container{
        margin-inline: auto;
    }
}

@media screen and (min-width: 1248px){
    .home{
        &__tree-1,
        &__tree-2{
            width: 450px;
        }
        &__img{
            width: 600px;
            margin-top: 3rem;
        }
    }

    .footer__tree-2{
        left: 10%;
    }
}

/* For 2K resolutions (2048 x 1152) */
@media screen and (min-width: 2048px){
    .home{
        &__container{
            position: relative;
            max-width: 1400px;
            overflow: hidden;
        }
        &__tree-1,
        &__tree-2{
            top: 5rem;
        }
    }

    .footer__tree-1,
    .footer__tree-2{
        width: 300px;
    }
}